################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test_2/FileContentIndex
/.vs/slnx.sqlite
